In [1]:
from flask import Flask, jsonify, render_template
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

app = Flask(__name__)

engine = create_engine('sqlite:///db/belly_button_biodiversity.sqlite')
Base = automap_base()
Base.prepare(engine, reflect=True)

Samples = Base.classes.samples
Otu = Base.classes.otu
Samples_meta = Base.classes.samples_metadata

session = Session(engine)

In [2]:
results = session.query(Samples)
df = pd.read_sql(results.statement, results.session.bind)

In [52]:
df.head(11)

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
sample = 'BB_940'

In [24]:
sample_values = list(df.groupby(by=sample,axis=0).count().reset_index().sort_values(by=sample,ascending=False).head(10)[sample])

In [25]:
sample_values

[163, 126, 113, 78, 71, 51, 50, 47, 40, 37]

In [30]:
grouped = df.groupby(by=sample,axis=0)

In [31]:
grouped.count()

,otu_id,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
BB_940,,,,,,,,,,,,,,,,,,,,,
0,3460,3460,3460,3460,3460,3460,3460,3460,3460,3460,...,3460,3460,3460,3460,3460,3460,3460,3460,3460,3460
1,134,134,134,134,134,134,134,134,134,134,...,134,134,134,134,134,134,134,134,134,134
2,31,31,31,31,31,31,31,31,31,31,...,31,31,31,31,31,31,31,31,31,31
3,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
4,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
5,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
11,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
12,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
13,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
14,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
19,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
22,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
23,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
25,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
28,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
30,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
36,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
37,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
40,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
47,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
50,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
51,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
71,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
78,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
113,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
126,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
163,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [35]:
df.head(11)

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,9,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
sample_df = pd.DataFrame(df[['otu_id',sample]][df[sample]>0])
sample_df.sort_values(by=sample,ascending=False,inplace=True)
#sample_df.reset_index(inplace=True)
#sample_df.rename(columns={'index':'otu_id'},inplace=True)

In [57]:
sample_df.head()

      otu_id  BB_940
1166    1167     163
2858    2859     126
481      482     113
2263    2264      78
40        41      71

In [58]:
sample_df['otu_id'].min()

11

In [61]:
list(sample_df['otu_id'][0:10])

[1167, 2859, 482, 2264, 41, 1189, 352, 189, 1977, 2318]

In [62]:
list(sample_df[sample][0:10])

[163, 126, 113, 78, 71, 51, 50, 47, 40, 40]

In [69]:
otu_ids = [int(s) for s in sample_df['otu_id'][0:10]]
sample_values = [int(s) for s in sample_df[sample][0:10]]
output_dict = {'otu_ids':otu_ids,'sample_values':sample_values}

In [70]:
output_dict

{'otu_ids': [1167, 2859, 482, 2264, 41, 1189, 352, 189, 1977, 2318],
 'sample_values': [163, 126, 113, 78, 71, 51, 50, 47, 40, 40]}

In [71]:
type(sample_values[0])

int